body{

background-color:#adc178;

}


.btn{

    margin-left:33%;
    
    margin-top: 3rem;
    
    background-color: #6c584c;
}

.card{
     
   background-color:#adc178;
    
    margin-left: 35%;

}

div.image{

width: 1rem;
padding: 0px;

}